<div class="row" style="background-color:rgb(248, 248, 248)">
  <div class="col-1" style="min-height:1000px">
    <div class="choice mt-5">
      <a href="<%= feed_index_path %>" >Feed</a>
      <a href="#">Discover</a>
    </div>
  </div>
  <div class="col-10 mt-4" style="background-color:white">
    <p class = "mt-4">Edit User Profile</p>
    <div class="border border-bottom-1 my-4"></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field d-flex" id="image-preview">
          <% if current_user.avatar.exists? %>
            <%= image_tag current_user.avatar.url , class:"rounded-circle", style:"width:140px;height:140px" %><br/>
          <% else %>
            <img src="/assets/profile.png" class="rounded-circle " style="width:140px;height:140px">
          <% end %>
          <%= f.file_field :avatar , class: "upload-image m-5" %>
        </div>
        <div class="font-weight-bold mb-3" style='margin-left:30%;color:blue'>Basic Information</div>
        <div class="field d-flex">
          <%= f.label :firstname, "First Name", style:"width:30%;height:40px" %>
          <%= f.text_field :firstname, autofocus:true, autocomplete:"firstname", class:"rounded-lg",style:"width:70%;height:40px", placeholder:"First Name" %>
        </div>
        <div class="field d-flex">
          <%= f.label :lastname, "Last Name", style:"width:30%;height:40px" %>
          <%= f.text_field :lastname, autocomplete: "lastname", class:"rounded-lg", style: "width:70%; height:40px", placeholder:"Last Name" %>
        </div>
        <div class="field d-flex">
          <%= f.label :email, "Email", style:"width:30%;height:40px," %>
          <%= f.email_field :email, autocomplete: "email", class:"rounded-lg", style: "width:70%; height:40px", placeholder:"Email" %>
        </div>
        <div class="actions text-center mt-5 mb-5">
          <%= f.submit "Save", class:"btn btn-success" %>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="font-weight-bold mb-3" style='margin-left:30%;color:blue'> Password</div>
        <div class="field d-flex">
          <%= f.label :current_password, "Current Password", style:"width:30%;height:40px," %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class:"rounded-lg", style: "width:70%; height:40px",placeholder:"**********" %>
        </div>
        <div class="field d-flex">
          <%= f.label :password , "New Password", style:"width:30%;height:40px," %>
          <%= f.password_field :password, autocomplete: "new-password", class:"rounded-lg", style: "width:70%; height:40px",placeholder:"**********" %>
        </div>
        <div class="field d-flex">
          <%= f.label :password_confirmation, "Password Confirmation", style:"width:30%;height:40px," %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"rounded-lg", style: "width:70%; height:40px",placeholder:"**********" %>
        </div>
        <div class="actions text-center mt-2">
          <%= f.submit "Save", class:"btn btn-success" %>
        </div>
      <% end %>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="col-1">
  </div>
</div>
<script type="text/javascript">
    function choose() {
  // Photo preview on album create
  var preview = $("#image-preview");
  $("#user_avatar").change(function(event){
   var input = $(event.currentTarget);
   var files = input[0].files;
   for (var i = 0; i < files.length; i++){
    var file = files[i]
    var reader = new FileReader();
    reader.onload = function(e){
      $("#image-preview img").remove();
     image_base64 = e.target.result;
     if(image_base64){
     var html = ' <div class="img float-left mt-2 mr-1"><div ng-repeat="file in imagefinaldata" class="img_wrp"><img src="' + image_base64 + '" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />'
     preview.append(html);
   }
   };
   reader.readAsDataURL(files[i]);
 };
});
  // Clear images when Browse is clicked agai
}
$(document).ready(function(){
  choose();
}
);
</script>
