<div class="row" style="background-color:rgb(248, 248, 248)">
  <div class="col-1" style="min-height:1000px">
    <div class="choice mt-5">
      <%= link_to 'Feed', feed_index_path %>
      <a href="#">Discover</a>
    </div>
  </div>
  <div class="col-10 mt-4" style="background-color:white">
    <div class="row">
      <div class="profile d-flex w-100 mt-5">
        <div class="col-3">
          <img src="/assets/av6.jpg" class="rounded-circle ml-5" style="width:140px;height:140px">
        </div>
        <div class = "col-9">
        <!-- Nav tabs -->
        <% if current_user.following.include?(@user) %>
          <%= form_tag('/unfollow') do %>
            <div><%= hidden_field_tag :following_id, @user.id %></div>
            <button type="submit" class="btn btn-primary">UnFollow</button>
          <% end %>
        <% else %>
          <%= form_tag('/follow') do %>
            <div><%= hidden_field_tag :following_id, @user.id %></div>
            <button type="submit" class="btn btn-primary">Follow</button>
          <% end %>
        <% end %>
          <h2 ><%= @user.lastname + " " + @user.firstname %></h2>
          <ul class="nav nav-tabs ">
            <li class="nav-item">
              <a class="nav-link active " data-toggle="tab" href="#photos"><%= @photos.count %> PHOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#albums"><%= @albums.count %> ALBUMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="tab" href="#followings"><%= @followings.count %> FOLLOWINGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#followers"><%= @followers.count %> FOLLOWERS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div id="photos" class="container-fluid tab-pane active"><br>
      <%= link_to 'Add Photo', new_photo_path %>
        <div class="row d-flex">
          <% for photo in @photos %>
          <div class="container1  w-25 p-3">
            <img src="<%= photo.image.url %>"style="width:100%;height:180px;cursor:pointer" onclick="onClick(this)"class="modal-hover-opacity rounded-lg">
            <div class="title p-2 text-center">
              <p><%= photo.description %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div id="albums" class="container-fluid tab-pane fade"><br>
      <%= link_to 'Add Album', new_album_path %>
        <div class="row d-flex">
          <% for album in @albums %>
          <% images = album.album_images %>
          <div class="container1 w-25 p-3 " >
            <% for image in images %>
              <img src="<%= image.image.url %>"style="width: 30%; height: 30%" onclick="onClick(this)"class=" img-fluid modal-hover-opacity rounded-lg img-thumbnail   cc">
            <% end %>
            <div class="title p-2 text-center">
              <p><%= album.description %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
            <div id="followings" class="container-fluid tab-pane fade"><br>
        <div class="row">
        <% for following in @followings %>
          <div class="w-25 p-2">
            <div style="background:rgb(248, 248, 248);height:240px">
              <div class="image-profile" style="height:120px;padding:10% 25% 0 25%">
                <img src="<%= following.avatar.url %>" class="rounded-circle" style="width:100%;height:100%">
              </div>
              <div class="name text-center">
                <a><%= following.lastname + following.firstname %></a>
              </div>
              <div class="information">
                <div class="row">
                  <div class="col-6 text-center">
                    <h5 class=""><%= following.photos.count %></h5>
                    <a>Photos</a>
                  </div>
                  <div class="col-6 text-center">
                    <h5 class=""><%= following.albums.count %></h5>
                    <a>Albums</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="followers" class="container-fluid tab-pane fade"style="display:block"><br>
        <div class="row">
        <% for follower in @followers %>
          <div class="w-25 p-2">
            <div style="background:rgb(248, 248, 248);height:240px">
              <div class="image-profile" style="height:120px;padding:10% 25% 0 25%">
                <img src="<%= follower.avatar.url %>" class="rounded-circle" style="width:100%;height:100%">
              </div>
              <div class="name text-center">
                <a><%= follower.lastname + follower.firstname %></a>
              </div>
              <div class="information">
                <div class="row">
                  <div class="col-6 text-center">
                    <h5 class=""><%= follower.photos.count %></h5>
                    <a>Photos</a>
                  </div>
                  <div class="col-6 text-center">
                    <h5 class=""><%= follower.albums.count %></h5>
                    <a>Albums</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>
</div>
<div id="modal01" class="modal" onclick="this.style.display='none'">
  <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <div class="modal-content">
    <img id="img01" style="width:100%;">
  </div>
</div>
<script>function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
</script>
