<!DOCTYPE html>
<html>
  <head>
    <title>FOTOBOOK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-extend-sm">
      <div class="container-fluid">
        <div class="row w-100">
          <div class="col-8 col-xs-20">
            <a href="<%= feed_index_path %>">Fotobook</a>
            <input class="input ml-3 w-50 rounded" type="text" placeholder="Search Photo / Album">
          </div>
          <div class="col-4 col-xs-4">
            <div class="row">
              <div class="col-6">
                <% if user_signed_in? == true %>
                  <%# <img> %>
                  <%= link_to current_user.firstname , profile_index_path %>
                <%end%>
              </div>
              <div class="col-6">
                <% if user_signed_in? == false %>
                  <%= link_to 'Login' , new_user_session_path%>
                  <% else %>
                    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%= render partial: "layouts/flash_messages", flash: flash %>
      <%= yield %>
    </div>
  </body>
</html>